textview {
        font-family: monospace;
}

#histoToolRed label {
        font-weight: bold;
        color: red;
}

#histoToolGreen label {
        font-weight: bold;
        color: green;
}

#histoToolBlue label {
        font-weight: bold;
        color: blue;
}