textview {
        font-family: monospace;
}

.main-toolbar button {
	padding: 6px;
}

#histoToolRed label {
        font-weight: bold;
        color: red;
}

#histoToolGreen label {
        font-weight: bold;
        color: green;
}

#histoToolBlue label {
        font-weight: bold;
        color: blue;
}
